In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rawson,AR,2020-11-07 18:16:23,-43.30,-65.10,70.61,33,50,24.96
1,1,Butaritari,KI,2020-11-07 18:12:34,3.07,172.79,80.67,74,100,11.41
2,2,Mataura,NZ,2020-11-07 18:16:24,-46.19,168.86,46.00,75,100,10.00
3,3,Arraial Do Cabo,BR,2020-11-07 18:16:24,-22.97,-42.03,77.00,73,75,4.70
4,4,Bredasdorp,ZA,2020-11-07 18:12:17,-34.53,20.04,60.80,72,63,9.17

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
print(g_key)

AIzaSyBE64gkx_ffY2Wyb__KX2eDdQYLu96SfW0

In [16]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [25]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights = temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 32
What is the maximum temperature you would like for your trip? 44

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
21,21,Klaksvik,FO,2020-11-07 18:15:10,62.23,-6.59,41.00,86,100,9.40
25,25,Mount Gambier,AU,2020-11-07 18:16:27,-37.83,140.77,41.00,86,1,6.93
30,30,Altay,CN,2020-11-07 18:16:28,47.87,88.12,34.81,78,15,3.74
38,38,Ucluelet,CA,2020-11-07 18:14:02,48.93,-125.55,42.80,81,5,3.36
41,41,New Norfolk,AU,2020-11-07 18:14:11,-42.78,147.06,42.01,71,2,2.44
55,55,Ostrovnoy,RU,2020-11-07 18:16:31,68.05,39.51,34.50,90,71,9.73
61,61,Vestmanna,FO,2020-11-07 18:16:32,62.16,-7.17,41.00,86,100,8.57
70,70,Kargat,RU,2020-11-07 18:16:33,55.20,80.28,38.46,75,41,13.71
71,71,Te Anau,NZ,2020-11-07 18:16:33,-45.42,167.72,39.72,90,100,4.97
75,75,Kodiak,US,2020-11-07 18:16:34,57.79,-152.41,35.60,88,90,3.36

In [31]:
preferred_cities_df.count()

City_ID       63
City          63
Country       63
Date          63
Lat           63
Lng           63
Max Temp      63
Humidity      63
Cloudiness    63
Wind Speed    63
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
21       Klaksvik      FO     41.00  62.23   -6.59
25  Mount Gambier      AU     41.00 -37.83  140.77
30          Altay      CN     34.81  47.87   88.12
38       Ucluelet      CA     42.80  48.93 -125.55
41    New Norfolk      AU     42.01 -42.78  147.06
55      Ostrovnoy      RU     34.50  68.05   39.51
61      Vestmanna      FO     41.00  62.16   -7.17
70         Kargat      RU     38.46  55.20   80.28
71        Te Anau      NZ     39.72 -45.42  167.72
75         Kodiak      US     35.60  57.79 -152.41

In [33]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
21,Klaksvik,FO,41.00,62.23,-6.59,Airbnb rooms
25,Mount Gambier,AU,41.00,-37.83,140.77,Commodore on the Park
30,Altay,CN,34.81,47.87,88.12,Jinqiao Hotel
38,Ucluelet,CA,42.80,48.93,-125.55,Black Rock Oceanfront Resort
41,New Norfolk,AU,42.01,-42.78,147.06,The Shingles Riverside Cottages
...,...,...,...,...,...,...
493,Makat,KZ,42.64,47.65,53.35,Gostinitsa Daulet
497,Elko,US,35.01,41.00,-115.50,
525,Derzhavinsk,KZ,43.43,51.10,66.32,Ooo.khim Baza
551,Sokolovyy,RU,39.99,51.57,45.83,Autocamping Saratov
554,Irbeyskoye,RU,37.29,55.64,95.45,"Gostinitsa ""Agul"""

In [37]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))