## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# use OS methods to change working director.  https://note.nkmk.me/en/python-os-getcwd-chdir/


os.chdir("../")
print(os.getcwd())

import config

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

D:\mirror\ut_classwork\analysis_projects\world_weather_analysis

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Alice Springs,AU,-23.70,133.88,69.80,22,0,4.70,clear sky
1,1,Chokurdakh,RU,70.63,147.92,-9.60,92,100,2.19,overcast clouds
2,2,Rikitea,PF,-23.12,-134.97,71.96,79,92,17.90,light rain
3,3,Mataura,NZ,-46.19,168.86,48.99,92,75,1.74,broken clouds
4,4,Touros,BR,-5.20,-35.46,84.20,70,75,17.22,shower rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Alice Springs,AU,-23.70,133.88,69.80,22,0,4.70,clear sky
2,2,Rikitea,PF,-23.12,-134.97,71.96,79,92,17.90,light rain
4,4,Touros,BR,-5.20,-35.46,84.20,70,75,17.22,shower rain
5,5,Port Alfred,ZA,-33.59,26.89,67.24,70,28,8.97,scattered clouds
7,7,Saint-Philippe,RE,-21.36,55.77,75.20,78,0,14.99,clear sky
8,8,Hilo,US,19.73,-155.09,75.00,83,40,5.82,scattered clouds
9,9,Lorengau,PG,-2.02,147.27,79.39,77,94,3.47,overcast clouds
10,10,Victoria,HK,22.29,114.16,75.00,76,72,3.00,light rain
11,11,Luderitz,NaN,-26.65,15.16,62.80,77,0,23.20,clear sky
12,12,Adrar,MR,20.50,-10.07,88.81,12,0,6.55,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                367
City                   367
Country                360
Lat                    367
Lng                    367
Max Temp               367
Humidity               367
Cloudiness             367
Wind Speed             367
Current Description    367
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# https://datatofish.com/dropna/
preferred_cities_df = preferred_cities_df.dropna()
#preferred_cities_df = preferred_cities_df.reset_index(drop=True)
preferred_cities_df.count()

City_ID                360
City                   360
Country                360
Lat                    360
Lng                    360
Max Temp               360
Humidity               360
Cloudiness             360
Wind Speed             360
Current Description    360
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Alice Springs,AU,69.80,clear sky,-23.70,133.88,
2,Rikitea,PF,71.96,light rain,-23.12,-134.97,
4,Touros,BR,84.20,shower rain,-5.20,-35.46,
5,Port Alfred,ZA,67.24,scattered clouds,-33.59,26.89,
7,Saint-Philippe,RE,75.20,clear sky,-21.36,55.77,
8,Hilo,US,75.00,scattered clouds,19.73,-155.09,
9,Lorengau,PG,79.39,overcast clouds,-2.02,147.27,
10,Victoria,HK,75.00,light rain,22.29,114.16,
12,Adrar,MR,88.81,clear sky,20.50,-10.07,
14,Caconda,AO,63.82,broken clouds,-13.73,15.07,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [9]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.

    api2_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
  
    # Make request and get the JSON data from the search.
    hotels = requests.get(api2_url, params=params).json()
    
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")


    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.

# Import the NumPy module.
import numpy as np

hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df['Hotel Name'].isnull().sum()
hotel_df = hotel_df.dropna()

In [11]:
# 8a. Create the output File (CSV)
#os.chdir("Vacation_Search/")
print(os.getcwd())
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

D:\mirror\ut_classwork\analysis_projects\world_weather_analysis

In [12]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Alice Springs,AU,69.80,clear sky,-23.70,133.88,Desert Palms Alice Springs
2,Rikitea,PF,71.96,light rain,-23.12,-134.97,Pension Maro'i
4,Touros,BR,84.20,shower rain,-5.20,-35.46,INN NEW HORIZON
5,Port Alfred,ZA,67.24,scattered clouds,-33.59,26.89,The Halyards Hotel
7,Saint-Philippe,RE,75.20,clear sky,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
...,...,...,...,...,...,...,...
669,Calama,CL,75.20,clear sky,-22.47,-68.93,Park Hotel Calama
670,Los Llanos De Aridane,ES,71.60,broken clouds,28.66,-17.92,Valle Aridane
672,Lokoja,NG,83.93,overcast clouds,7.80,6.74,Hotel Charvid
673,Barranca,PE,68.09,broken clouds,-10.75,-77.77,El Olivar Hospedaje
674,Port Hedland,AU,71.60,clear sky,-20.32,118.57,The Esplanade Hotel

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [14]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))